<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1>Alwar Daily Grievance Redressal System</h1>
        <p class="lead">Welcome to the Alwar Daily Grievance Redressal System, 
            a platform designed to ensure that the concerns of citizens are addressed swiftly and effectively. 
            Our mission is to bridge the gap between residents and local authorities by providing a seamless, 
            transparent, and user-friendly way to report issues and track their resolution.</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-success">Register</a>
    </div>
{% endblock %}